.main-container {
  padding-top: 60px;
}

.App-logo {
  animation: AppLogoSpin infinite 20s linear;
}

@keyframes AppLogoSpin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
