nav.header {
  height: 80px;
  border-bottom: 1px solid #eef1f4;
  box-shadow: 0 1px 6px 0 rgba(54, 165, 244, 0.01), 0 1px 6px rgba(0,0,0,.01);
}

.header__container {
  align-items: center;
  display: flex;
  height: 80px;
  margin: 0 auto;
}

.header__logo {
  width: 26px;
  margin-right: 12px;
}

.header__title {
  bottom: 2px;
  margin: 0;
  position: relative;
}