* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

div#root {
  height: 100%;
  overflow-x: hidden;
  width: 100%;
}

.m-b-l {
  margin-bottom: $l-size;
}

.text-red {
  color: $red !important;
}

.text-green {
  color: $green !important;
}

.text-blue {
  color: $blue !important;
}

.text-blue-grey {
  color: $blue-grey !important;
}

.target__success {
  @extend .text-green;
  background-color: lighten($green, 50%);
  border-radius: 2px;
}

.target__indeterminate {
  @extend .text-blue;
  border-radius: 2px;
  border-bottom: 2px solid lighten($blue, 45%);
}

.target__error {
  @extend .text-red;
  background-color: lighten($red, 45%);
  border-radius: 2px;
}

.gradient-text {
  background: $linear-gradient;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet) {
    width: 70%;
  }

  @media (min-width: $desktop) {
    width: 60%;
  }
}